/* CSS declarations go here */
span.badge.price {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #2196f3;
    border-radius: 2px;
    top: 15px;
}

.collection .collection-item {
    position: relative;
    padding: 10px 80px 10px 20px;
}

.map {
    width: calc(50% - 20px);
    height: 800px;
    position: fixed !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}